<div class="form-froup row">

    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="projectID"
        placeholder="Enter Project Name" required >
        <input type="text" class="form-control" [(ngModel)]="issueID"
        placeholder="Enter Issue Name" required >
        <input type="text" class="form-control" [(ngModel)]="summary"
        placeholder="Enter Summary" required >
    </div>
</div>

<button (click)="addIssue()" class="btn btn-primary" >Create</button>
